<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.authentication.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NuevoUsuario</servlet-name>
		<display-name>NuevoUsuario</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.altas.NuevoUsuario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Forgot</servlet-name>
		<display-name>Forgot</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.authentication.Forgot</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NuevaCita</servlet-name>
		<display-name>NuevaCita</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.altas.NuevaCita</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NuevoPaciente</servlet-name>
		<display-name>NuevoPaciente</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.altas.NuevoPaciente</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BorrarPaciente</servlet-name>
		<display-name>BorrarPaciente</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.bajas.BorrarPaciente</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BorraUsuario</servlet-name>
		<display-name>BorraUsuario</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.bajas.BorraUsuario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BorraCita</servlet-name>
		<display-name>BorraCita</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.bajas.BorraCita</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificaUsuario</servlet-name>
		<display-name>ModificaUsuario</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.modificaciones.ModificaUsuario</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificaCita</servlet-name>
		<display-name>ModificaCita</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.modificaciones.ModificaCita</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModificaPaciente</servlet-name>
		<display-name>ModificaPaciente</display-name>
		<description></description>
		<servlet-class>edu.laboratoriofpdual.clinicaweb.servlet.modificaciones.ModificaPaciente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevoUsuario</servlet-name>
		<url-pattern>/NuevoUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Forgot</servlet-name>
		<url-pattern>/Forgot</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevaCita</servlet-name>
		<url-pattern>/NuevaCita</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NuevoPaciente</servlet-name>
		<url-pattern>/NuevoPaciente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrarPaciente</servlet-name>
		<url-pattern>/BorrarPaciente</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorraUsuario</servlet-name>
		<url-pattern>/BorraUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorraCita</servlet-name>
		<url-pattern>/BorraCita</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificaUsuario</servlet-name>
		<url-pattern>/ModificaUsuario</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificaCita</servlet-name>
		<url-pattern>/ModificaCita</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModificaPaciente</servlet-name>
		<url-pattern>/ModificaPaciente</url-pattern>
	</servlet-mapping>
</web-app>
